body {
	font-family: "Arial", "Verdana", "Trebuchet MS", "Helvetica", sans-serif;
	background-color: #eee;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-height: calc(100vh - 1rem);
	margin: 0;
	padding: 1rem 0 0 0;
}

#region {
	max-width: 44rem;
	border-radius: max(0px, min(0.5rem, calc((100vw - 0.25rem - 100%) * 9999)));
	background-color: #fff;
	box-shadow: 0 0 1rem #444;
	overflow: hidden;
}

div#logo {
    height: 175px;
    background: #232323;
    text-align: center;
}

main {
	padding: 1.5rem;
}

.footer {
	border-top: 1px dotted #444;
	padding: 6px;
	font-size: 8pt;
	color: #444;
	margin: 10px 0 10px 15px;
	clear: both;
	float: left;
}

.footer a {
	color: #f00;
	text-decoration: none;
}

a {
	color: #f00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", serif;
	border-bottom: 1px dotted #444;
	padding-left: 2%;
}

h2 {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.5rem;
	font-weight: bold;
}

h3 {
    font-family: Georgia, "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.25rem;
}

h4 {
	font-family: Georgia, "Times New Roman", serif;
	font-weight: bold;
	font-size: 10pt;
	font-style: italic;
	padding: 0;
	margin: 0 0 3px 0;
}

h4+p {
	margin-top: 0px;
}

form.sudokugrid input {
	margin-bottom: 3px;
}

form {

}

form label {
    display: block;
    color: #444;
		margin-bottom: 0.25rem;
}

input[type="button"] {
	margin-top: 0.25rem;
}

div#cryptogrid {
    border: 1pt solid #444;
    padding: 5px;
}

div#cryptogrid div.letter {
    float: left;
    text-align: center;
    /*background: #0f0;*/
    margin-right: 2px;
}

div#cryptogrid div.letter div {
	text-align: center;
	/*background: #f00;*/
	float: none;
}

div#cryptogrid div.letter input {
    border: 0;
    background: #ccc;
    color: #444;
    text-align: center;
}

div#cryptogrid div.space {
    float: left;
    width: 15px;
    height: 51px;
    /*background: #00f;*/
}

div#cryptogrid div.punct {
    float: left;
}

div#cryptogrid div.word {
    float: left;
    height: 51px;
    margin: 1px 4px;
    /*background: #f80;*/
}

div.example {
	border: 1px solid #444;
	padding: 5px;
	margin: 2px 15px 4px 15px;
}

div.example:hover {
	background: #ddd;
}

div.example p {
	margin-bottom: 0;
}

div#hints {
    position: absolute;
    top: 120px;
    left: 700px;
    padding: 5px;
    width: 200px;
}

div#hinttitle {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 700px;
    width: 200px;
}

span.beta {
	font-variant: small-caps;
	color: #f00;
	position: relative;
	top: -6px;
	font-size: smaller;
}

/*  ----- SUDOKU ----- */

table.sudoku {
	border: 1px solid #444;
}

table.sudoku td {
	font-size: 14pt;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 3px 7px;
}

table.sudoku td.majorv {
	border-right: 1px solid #444;
}

table.sudoku td.majorh {
	border-bottom: 1px solid #444;
}

/* ----- SETTLE ------ */

div.actor {
	border: 1px solid #444;
	padding: 5px;
	clear: left;
	width: 300px;
	margin-bottom: 10px;
}

div.actor div.pcost {
	float: left;
	width: 140px;
}

div.actor div.pcontr {
	margin-left: 145px;
}

